html {
    font-size: 62.5%;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



a {
    color: #d4d4d4;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

p {
    font-size: 1.6rem;
}

svg {
    width: 100%;
}

img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}



/* main */


main {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

main .wrapper-top {
    max-width: 1200px;
}


.top-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.top-level .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-level .section-title p {
    width: 200px;
    padding: 8px 12px;
    background-color: rgb(223, 251, 241);
    font-size: 1.6rem;
    font-family: 'Source Serif 4', serif;
    border-radius: 24px;
}

.top-level .top {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 32px
}

.top-level .top .hero-headers {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    width: 45vw;
}


.top-level .top h1 {
    font-size: 3vw;
    font-family: 'Source Serif 4', serif;
    font-weight: bold;
}


.top-level .top p {
    font-size: 1.6rem;
}

.top-level .top .get-Start-Btn .btn {
    border: none;
    padding: 14px 24px;
    /*background-color: #208C64;*/
    background-color: #191D23;
    color: white;
    border-radius: 24px;
    font-size: 1.4rem;
    font-weight: 600;
}

.top-level .top .get-Start-Btn .btn:hover {
    background-color: #303741;
}

#scroller {
    margin-top: 8rem;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}

.scroller-in {
  /*width: 100%;*/
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller .card {
  display: inline-block;
  width: 273px;
  height: 340px;
  font-family: 'Source Serif 4', serif;
  margin-right: 20px;
  transition: all linear 0.3s;
  position: relative;
  border-radius: 14px;
}

/*#scroller .scroller-in-2 {*/
/*    margin-left: 550px;*/
/*    !*margin-left: 40px;*!*/
/*}*/

#scroller .card img {
    border-radius: 14px;
}

#scroller .card .card-content {
    position: absolute;
    bottom: 80px;
    left: 16px;
    text-align: left;
    color: white;
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#scroller .card .person {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#scroller .card .person-tags {
    display: flex;
    flex-direction: row;
    gap: 8px
}

#scroller .card .person-tags li {
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 1.1rem;
}



#scroller h4:hover {
  color: #208C64;
  -webkit-text-stroke: 2px #208C64;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* @media only screen and (min-width: 1215px) {
    #scroller .scroller-in-2 {
        /*margin-left: 723px;*/
        /*margin-left: 40px;*/
    }
} */